.wrapper {
    max-width: 620px;
    margin: 0 auto;
}
.box {
    position: relative;
}

.img {
    display: block;
    max-width: 100%;
}
.icon-play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    opacity: 0.5;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    cursor: pointer;
    max-height: 378px;
}

.icon-play:hover  {
    opacity: 1;
}
.stream {
    display: none;
    
} 
